<!DOCTYPE html>
<html>
  <head>
    <title>My Sinatra Website</title>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header' style="text-align:center">
        <div id='icons' >
          <!--img src="/icons/ic_help_black_24px.svg"/-->
          <a href="https://github.com/<%=@user%>/<%=@repo%>" title="Grupo para discursão e postagens de dúvidas" target="_blank"><img src="/icons/github.svg"/></a>
          <a href="https://groups.google.com/forum/#!forum/formatafacil" title="Grupo para discursão e postagens de dúvidas" target="_blank"><img src="/icons/forum.svg"/></a>
          <a href="<%= @tex_file %>" title="Acessa arquivo latex utilizado na geração do PDF"><img src="/icons/tex.svg"/></a>
          <a href="<%= @log_file %>" title="Acessa o log de geração do PDF"><img src="/icons/log-file.svg"/></a>
        </div>
        <pre title="Data da última geração do PDF (horário do servidor)"><%= @data_modificacao %></pre>        
      </div>
<!-- see http://ningbit.github.io/blog/2013/06/28/how-to-integrate-bootstrap-css-into-your-sinatra-site/ -->
      
      <div id='content'>
        <embed src="<%= @pdf_file %>" width="100%" height="600" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </div>

    </div>
  </body>
</html>
